#container {
    width: 960px;
    height: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
}

.grid-cell {
    border: 1px solid black;
    align-self: center;
}

.hover {
    background-color: grey;
}